/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #4b4b4b;
  background: #f5f5f5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ------------------------------ */

[class*='__container'] {
  max-width: 1020px;
  margin: 0 auto;
}

.titles {
}

.titles *:not(:last-child) {
  margin-bottom: 29px;
}

.titles__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4b4b4b;
  padding: 0px 0px 0px 32px;
  background: url('../assets/mainpage/who-we-are/icons/overline-mark.svg') -3px -2px
    no-repeat;
}

.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #02133c;
}

.button {
  display: inline-flex;
  background-color: #c40b0b;
  overflow: hidden;
  column-gap: 6px;
}
.button__title {
  padding: 12px 0px 12px 19px;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.icon-button {
  padding: 0px 18px 0px 10px;
  display: flex;
  align-items: center;
  transform: skew(-20deg);
  transform-origin: bottom right;
  background: #e30b0b;
}

.icon-button__item {
  padding: 0px 0px 0px 3.5px;
  transform: skew(20deg);
}

.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #02133c;
}

.item-text {
  line-height: 150%;
  letter-spacing: 0.15px;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 26px 0px 0px 0px;
}
.header__container {
}

.main {
  flex: 1 1 auto;
}

.top-notch {
  position: relative;
  padding: 280px 0px 312px 0px;
  background: url('../assets/mainpage/top-notch/img/hero.png') 50% 0 / auto 100%
    no-repeat;
}
.top-notch__container {
}
.top-notch__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  color: #ffffff;
}

.top-notch__title:not(:last-child) {
  margin-bottom: 48px;
}

.top-notch__button {
}

.button__arrow {
}

.who-we-are {
  padding: 0px 0px 118px 0px;
}
.who-we-are__wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.who-we-are__container {
  position: relative;
  padding: 97px 87px 1px 87px;
  margin: -7.8% auto 0px;
  background: #ffffff url('../assets/mainpage/who-we-are/img/decor.png') right
    top / 62.94% auto no-repeat;
}
.who-we-are__header {
  margin: 0px 0px 36px 0px;
}
.who-we-are__label {
}

.who-we-are__item {
  max-width: 583px;
}

.who-we-are__text {
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.who-we-are__text:not(:last-child) {
  margin: 0px 0px 57px 0px;
}

.who-we-are__image {
  margin: 0px 0px -14.2% 0px;
}

.image-who-we-are__item {
  max-width: 100%;
}

.promise {
  padding: 108px 0px 122px 0px;
}
.promise__container {
}
.promise__header {
}

.promise__header:not(:last-child) {
  margin: 0px 0px 68px 0px;
}

.promise__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
  row-gap: 24px;
}
.promise__item {
  flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 260px;
}
.item-promise {
  display: flex;
  align-items: flex-start;
  column-gap: 23px;
}
.item-promise__icon {
  display: flex;
  flex: 0 0 63px;
  height: 63px;
  justify-content: center;
  align-items: flex-end;
}

.icon-promise-item__image {
  max-width: 100%;
  max-height: 63px;
}

.item-promise__body {
  padding: 4px 0px 0px 0px;
}
.item-promise__title {
}

.item-promise__title:not(:last-child) {
  margin-bottom: 20px;
}

.item-promise__text {
}

.services {
  padding: 110px 0px 122px 0px;
}
.services__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.services__container::before {
  position: absolute;
  content: '';
  top: 0;
  right: 50%;
  height: 100%;
  width: 62.84%;
  margin: -10.2% 7.6% 0px 0px;
  background: url('../assets/mainpage/services/img/decor1.png') 0 0 / 100%
    no-repeat;
}

.services__container::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  height: 100%;
  width: 62.94%;
  margin: -32% 0px 0px 7.5%;
  background: url('../assets/mainpage/services/img/decor2.png') 0 0 / 100%
    no-repeat;
}

.services__header {
  position: relative;
  z-index: 2;
  margin: 0px 0px 78px 0px;
}

.services__items {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;
  margin: 0px -12px;
}

.services__items:not(:last-child) {
  margin-bottom: 68px;
}

.services__item {
  flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 300px;
}

.item-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 44px;
  background-color: #ffffff;
  height: 100%;
  transition: 0.3s;
}

.item-services:hover {
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}

.item-services__icon {
  flex: 0 0 63px;
  width: 63px;
}

.icon-services-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon-services-item__image {
  max-width: 100%;
  max-height: 63px;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 33px;
}
.item-services__title {
}
.item-services__title:not(:last-child) {
  margin-bottom: 20px;
}

.item-services__text {
}

.services__button {
  align-self: center;
}

.footer {
}
